body{
    margin: 0;
    background-image: url(../resources/wallpaper.png);
    background-color: #2d3250;
    background-size: cover;
    transition: background-image 0.5s linear;
}

nav {
    width: 100%;
    height: 21vh;
    background-color: #2d3250;
    border-bottom-color: #424769;
    border-bottom-style: solid;
    border-width: 8px;
    box-shadow: 0 0 10px #f9b17a;
    padding: 0;
}

.logo-nav{
    width: 90px;
    height: 90px;
    margin-left: 2%;
    margin-top: auto;
    cursor: pointer;
    display: inline;
    margin-right: 2%;
}

.logo-nav2{
    margin-top: 20px;
    margin-left: 20px;
    width:213px;
    height:120px;
    background-image: url('../resources/logo.png');
    background-size:cover;
    cursor: pointer;
    display: inline-block;
}

.iniciar-reservacion{
    margin: auto;
    min-width: 20vw;
    max-width: 25vw;
    min-height: 50vh;
    max-height: 85vh;
    background-color: #2d3250;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 10px;
    box-sizing: padding;
    border-radius: 20px;
    border-width: 3px;
    border-color: #424769;
    border-style: solid;
    box-shadow: 0 0 10px #f9b17a;
    color: #ffffff;
    font-family: Montserrat;
    font-size: small;
    transition: visibility 6s linear;
}

.iniciar-reservacion:hover{
    box-shadow: 0 0 20px #f89d58;
}


.divform{
    width: 15vw;
    margin: auto;
}

.divform-boton{
    width: 100px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
}

.inputForm{
    width: 97%;
    height: 30px;
    display: block;
    margin-bottom: 30px;
    border: none;
    background-color: #424769;
    border-left: #f9b17a solid 3px;
    padding-left: 5px;
    color: #ffffff;
}

.subtitulo{
    padding-left: 10px;
    border-left: #f9b17a solid 4px;
    margin-left: 5%;
    color: #ffffff;
}

.div-ul{
    width: 80%;
    margin-bottom: 50px;
}

.boton-form{
    border: none;
    width: 100px;
    height: 30px;
    background-color: #f9b17a;
    box-shadow: 0 0 10px #f9b17a;
    border-radius: 8px;
    font-weight: bolder;
    color: #2d3250;
    margin-bottom: 30px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    margin-top: 10px;
}

.boton-form:hover{
    background-color: #f89d58;
}

#form1{
    display: none;
    opacity: 0;
}

#form2{
    display: none;
    opacity: 0;
    min-height: 80vh;
    max-height: 1000vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

#h3-1{
    padding: 0;
    margin: 0;
}

#form4{
    display: none;
    opacity: 0;
    min-height: 80vh;
    max-height: 1000vh;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 40vw;
    max-width: 60vw;
}

#form5{
    display: none;
    opacity: 0;
    min-height: 80vh;
    max-height: 1000vh;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 40vw;
    max-width: 60vw;
}

#form3{
    display: none;
    opacity: 0;
    min-height: 80vh;
    max-height: 1000vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.seat {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.blank {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat.available {
    background-color: #676f9d;
}

.seat.selected {
    background-color: #f89d58;
}

.seat.unavailable {
    background-color: #8e3838;
    cursor: not-allowed;
}

.seat:hover {
    transform: scale(1.1);
    background-color: #f9b17a;
}

#asientos-mapa {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#asientos-mapa1 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

#close-modal{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: scale 0.4s;
    cursor: pointer;
}

#close-modal:hover{
    scale: 1.3;
}

.consulta{
    margin: auto;
    min-width: 20vw;
    max-width: 25vw;
    min-height: 50vh;
    max-height: 85vh;
    background-color: #2d3250;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 10px;
    box-sizing: padding;
    border-radius: 20px;
    border-width: 3px;
    border-color: #424769;
    border-style: solid;
    box-shadow: 0 0 10px #f9b17a;
    color: #ffffff;
    font-family: Montserrat;
    font-size: small;
    transition: visibility 6s linear;
}

#consultar-boton{
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    margin-left: 5px;
    display: none;
    opacity: 0;
}

.dark-mode{
    height: 40px;
    width: 80px;
    border-style: solid;
    border-color: #424769;
    border-width: 3px;
    display: inline-block;
    border-radius: 50px;
    background-color: #676f9d;
}

#circulo{
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: #f9b17a;
    border-width: 3px;
    border-radius: 100%;
    margin: 2px;
    background-color: #f89d58;
    transition: all 0.5s linear;
}

.lema{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 90px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s linear;
}

.lema:hover{
    scale: 1.1;
    color: #f9b17a;
}

.world {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: url(../resources/world.png);
    background-size: cover;
    box-shadow: inset 0 0 20px #000,
                inset -40px -10px 20px rgba(3, 32, 56, 0.7);
    animation: world 5s linear infinite;
    margin: auto;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: visible;
    margin-top: 30px;
}

@keyframes world {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1200px;
    }
}

.home-form{
    margin-top: 50px;
    width: fit-content;
    height: fit;
    margin: auto;
    margin-bottom: 5px;
    display: inline;
}

#homepage-boton{
    margin: auto;
    margin-top: 40px;
    height: 60px;
    width: 200px;
    font-size: 16px;
    display: inline;
    margin-left: 2vw;
}

.homepage-form{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 80%;
    height: 150px;
    background-color: #2d3250;
    border-radius: 20px;
    border-style: solid;
    border-color: #424769;
    border-width: 5px;
}

#info-vuelo{
    display: inline;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: #ffffff;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
}

#fechaRegreso{
    display: none;
}

#label-regreso{
    display: none;
}

.input-prefix{
    margin-bottom: 2px;
}

#form6{
    display: none;
    opacity: 0;
    min-height: 80vh;
    max-height: 1000vh;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 500px;
}

#datos-factura{
    width: 90%;
    margin: auto;
}

.div-factura{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

#kilogramos{
    width: 10%;
    margin-left: 10px;
    margin-top: 5px;
}

.tarjeta{
    width: 400px;
    height: 200px;
    background-color: #676f9d;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    margin-bottom: 20px;
}

.input-tarjeta{
    border: none;
    border-radius: 5px;
    background-color: #424769;
    height: 25px;
    color: #ffffff;
}

#numero-tarjeta{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

#dia{
    width: 10%;
}

#mes{
    width: 10%;
}

#cvv{
    width: 20%;
    margin-left: 50%;
}

#nombre-tarjeta{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#montofinal{
    margin-left: 40px;
    font-size: 20px;
}

#modal2{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

#texto-final{
    font-family: 'Montserrat';
    width: bolder;
    font-size: 30px;
    margin: auto;
    color: #ffffff;
    text-align: center;
}

#codigo-final{
    font-family: 'Montserrat';
    width: bolder;
    font-size: 30px;
    margin: auto;
    color: #ffffff;
    text-align: center;
}

.modal-final{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}